# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\utkuk\Desktop\kodluyoruz-bitirme-odevi-ilkbahar-main\Hospital-Magement-System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
